.header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px; /* Add padding for better spacing */
  background-color: #eef2f5; /* Background color for visibility */
  position: fixed; /* Fixed positioning for the header */
  top: 0; /* Align at the top */
  left: 0; /* Align at the left */
  width: 97%; /* Full width */
  z-index: 1000; /* Ensure the header is above other content */
}

.club-title1 {
  font-size: 32px; /* Adjust font size as needed */
  color: #181121; /* Text color */
}
.sub-title2{
  margin-left: 20px; /* Spacing between links */
  color: #f49d11; /* Text color */
  text-decoration: none; /* Remove underline */
  font-size: 18px; /* Adjust font size for nav links */
}

.nav-links1 a {
  margin-left: 20px; /* Spacing between links */
  color: #0c0c0c; /* Text color */
  text-decoration: none; /* Remove underline */
  font-size: 18px; /* Adjust font size for nav links */
}

.nav-links a:hover {
  text-decoration: underline; /* Underline on hover for better UX */
}

.header-line {
  width: 100%; /* Make it full width */
  height: 2px; /* Thickness of the line */
  background-color: #050000; /* Line color */
  position: absolute; /* Position it relative to the header */
  bottom: 0; /* Align to the bottom of the header */
  left: 0; /* Align to the left */
}
